.Saved--module {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  color: #EEEEEE;
}

.Saved--module ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Saved--module li {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 9px;
  padding: 1rem 5rem;
  color: #222831;
  background-color: #EEEEEE;
}


.Saved--module li:hover {
  background-color: #00ADB5;
  transition: 0.3s ease-out;
}

.Saved--module li:active {
  background-color: #00ADB5;
  transition: 0.3s ease-out;
  transform: scale(0.9);
}
